<ion-header >
  <ion-toolbar>
    <ion-item>
      <ion-title padding center text-center>Libros Sistemas </ion-title>
    <ion-button class = "search" href= "search">
      <ion-icon name="search-outline"></ion-icon>
    </ion-button>
    </ion-item>
    
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item>
        <ion-img class ="img-libro" src="https://images-na.ssl-images-amazon.com/images/I/7139EcoIUpL.jpg"></ion-img>
      <ion-label>
        El Gran libro de Andriod Avanzado
      </ion-label>
      </ion-item>
      
    </ion-list>
</ion-content>
