<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Iniciar Sesión
    </ion-title>
    
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" padding center text-center>
  <ion-label padding center text-center>
    Bienvenidos a la BiblioteK
  </ion-label>

  <ion-img  src = "https://www.uninorte.edu.co/documents/10162/4921b1a3-3342-4fda-aa6a-d2e03bcb0546?igSmallImage=0">

  </ion-img>

 
  <ion-list>
    <ion-item>
      <ion-input [(ngModel)]="codeV" placeholder="Código"> </ion-input>
    </ion-item>
    <ion-item style="margin-bottom: 5vh;">
      <ion-input [(ngModel)]= "passwordV" placeholder="Contraseña" type="password" > </ion-input>
    </ion-item >
  </ion-list>

  <ion-button style="margin-left: 120px;" color="primary" (click)="onLogin()"  href="principal"  >Entrar</ion-button>  

</ion-content>
